<div id="listingViewScene">
	<div id="header">
		<div id="logo"><img src="images/etsy_logo.png"></div>
		<div id="navhome" class="capitalize">Listing</div>
	</div>
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div id="listingName" class="title left">
			</div>
		</div>
	<div>
	<div class="palm-text-wrapper lessPadding">
		<div id="listingImage" x-mojo-element="ImageView"></div>
		<div id="listingDesc" class="palm-body-text"></div>
		<div id="listingPriceFull" class="palm-body-text"></div>
		<div id="listingInfo" class="palm-body-text"></div>
	</div>

	<div id="buyButton" x-mojo-element="Button"></div>

</div>
